.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: var(--dark-1);
    color: var(--light-1);
    border-bottom: 1px solid var(--light-2);
}

.logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light-1);
    text-decoration: none;
}

.navLinks {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    align-items: center;
}

.navLinks li a {
    color: var(--light-2);
    text-decoration: none;
    font-weight: 500;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 2;
}

.bar,
.barOpen {
    width: 25px;
    height: 3px;
    background-color: var(--light-1);
    transition: 0.3s;
}

.profilePic{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 1030px) {
    .navLinks {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        background-color: var(--dark-1);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .active {
        transform: translateX(0);
    }

    .hamburger {
        display: flex;
    }

    .barOpen:nth-child(1) {
        transform: rotate(50deg) translate(6px, 6px);
    }

    .barOpen:nth-child(2) {
        opacity: 0;
    }

    .barOpen:nth-child(3) {
        transform: rotate(-50deg) translate(6px, -6px);
    }
}